<div class="{{styles.field}}">
  <label class="{{styles.label}}" for="{{name}}">{{label}}</label>
  <input class="{{styles.input}}" type='{{type}}' name='{{name}}' id="{{name}}" placeholder={{placeholder}} {{#if
    readonly}} readonly {{/if}} />
</div>
