<section class="{{styles.error}}">
  <h1 class="{{styles.title}}">{{code}}</h1>
  <p class="{{styles.msg}}">{{message}}</p>
  <a class="{{styles.link}}" href="chatlist.hbs">Назад к чатам</a>
</section>
