<aside class="{{styles.aside}}">
  <header class="{{styles.header}}">
    <a class="{{styles.profile}}" href="#">Профиль <img class="{{styles.arrow}}" src="{{arrow}}"
        alt="move to profile"></a>
    <section class="{{styles.search}}">
      <label class="{{styles.label}}" for="search">Поиск</label>
      <input class="{{styles.input}}" type="search" name="search">
    </section>
  </header>
  {{{chat}}}
  {{{chat1}}}
  {{{chat2}}}
  {{{chat3}}}
  {{{chat4}}}
  {{{chat5}}}
</aside>
