<aside class="{{styles.aside}}">
  <header class="{{styles.header}}">
    {{{profileLink}}}
    <section class="{{styles.search}}">
      <label class="{{styles.label}}" for="search">Поиск</label>
      {{{search}}}
    </section>
      {{{addChat}}}
  </header>
  {{#each dummy}}
    {{this.id}}
  {{/each}}
  {{!-- {{{chat}}}
  {{{chat1}}}
  {{{chat2}}}
  {{{chat3}}}
  {{{chat4}}}
  {{{chat5}}} --}}
</aside>
