<aside class="{{styles.aside}}">
  <header class="{{styles.header}}">
    {{{profileLink}}}
    {{!-- <section class="{{styles.search}}">
      <label class="{{styles.label}}" for="search">Поиск</label>
      {{{search}}}
    </section> --}}
      {{{addChat}}}
  </header>
  {{#each chatList}}
    <article data-id="{{id}}">
      <div class="{{../styles.chat}}">
        <img class="{{../styles.avatar}}" {{#if ../avatar}}src="{{../avatar}}"{{else}}src="{{../avatarPlaceholder}}"{{/if}} alt="chat avatar">
        <div class="{{../styles.text}}">
          <h3 class="{{../styles.name}}">{{title}}</h3>
          <p class="{{../styles.message}}">{{last_message.content}}</p>
        </div>
        <div class="{{../styles.meta}}">
          {{#if unread_count}} <div class="{{../styles.unread}}">{{unread_count}}</div>{{/if}}
        </div>
      </div>
    </article>
  {{/each}}
</aside>
