<div class="{{styles.wrapper}}">
  {{{back_button}}}
  <main class="{{styles.profile}}">
    {{#if isLoading}}
      Loading...
    {{else}}
        <header class="{{styles.header}}">
          <div class="{{styles.pic-container}}">
            <img {{#if data.avatar}}src="https://ya-praktikum.tech/api/v2/resources/{{data.avatar}}"{{else}}src="{{avatarPlaceholder}}"{{/if}} alt="photo" class="{{styles.pic}}">
            <div class="{{styles.overlay}}"><span>Поменять аватар</span></div>
          </div>
          <h2 class="{{styles.name}}">{{data.first_name}}</h2>
        </header>
      <form class="{{styles.form}}">
        <section class="{{styles.bio}}">
          {{{field_email}}}
          {{{field_login}}}
          {{{field_first_name}}}
          {{{field_second_name}}}
          {{{field_display_name}}}
          {{{field_phone}}}
        </section>
        <footer class="{{styles.footer}}">
          <div class="{{styles.field}}">{{{link_settings}}}</div>
          <div class="{{styles.field}}">{{{link_password}}}</div>
          <div class="{{styles.field}}">{{{link_logout}}}</div>
        </footer>
      </form>
    {{/if}}
  </main>
</div>
