<section class="{{styles.popup-wrapper}}" id="{{id}}">
  <div class="{{styles.popup}}">
    <div class="{{styles.popup-content}}">
      <h3>{{title}}</h3>
    <form id="{{formId}}" class="{{styles.popup-form}}" onsubmit="onSubmit">
      {{{input}}}
      {{{addChatButton}}}
    </form>
    </div>
  </div>
</section>

