---
firstName: Иван
lastName: Иванов
email: pochta@yandex.ru
login: ivanivanov
inChat: Иван
phone: +7 (909) 967 30 30
buttonText: Сохранить
---

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel='stylesheet' href='../styles/style.scss' />
</head>

<body>
  {{> nav}}
  <div class="profile-wrapper">
    <aside class="profile-sidebar"><a href="./profile.hbs"><img src="../img/back.png" alt="Назад"></a></aside>
    <main class="profile">
      <section class="profile-info">
        <header class="profile-info__header profile-header">

          <img src="../img/profile_pic.png" alt="photo" class="profile-header__pic">

          <h2 class="profile-header__name">{{firstName}}</h2>
        </header>
        <section class="profile-info__bio">
          <div class="profile-info__field profile-field">
            <span>Почта</span>
            <span class="profile-field__data">{{email}}</span>
          </div>
          <div class="profile-info__field profile-field">
            <span>Логин</span>
            <span class="profile-field__data">{{login}}</span>
          </div>
          <div class="profile-info__field profile-field">
            <span>Имя</span>
            <span class="profile-field__data">{{firstName}}</span>
          </div>
          <div class="profile-info__field profile-field">
            <span>Фамилия</span>
            <span class="profile-field__data">{{lastName}}</span>
          </div>
          <div class="profile-info__field profile-field">
            <span>Имя в чате</span>
            <span class="profile-field__data">{{inChat}}</span>
          </div>
          <div class="profile-info__field profile-field">
            <span>Телефон</span>
            <span class="profile-field__data">{{phone}}</span>
          </div>
        </section>
        <footer class="profile-info__footer--center">
          {{> submitbtn}}
        </footer>
      </section>
    </main>
  </div>
</body>

</html>