<main class='login'>
  <form class='{{styles.form}}' id="form" onsubmit="() => onSubmit(e)">
    <div>
      <header class="{{styles.title}}">
        <h2>Вход</h2>
      </header>
      {{{input_login}}}
      {{{input_password}}}
    </div>
    <div class="{{styles.buttons}}">
      {{{button}}}
      {{{link}}}
    </div>
  </form>
</main>
