<main class='login'>
  <form class='{{styles.form}}'>
    <div>
      <header class="{{styles.title}}">
        <h2>Вход</h2>
      </header>
      {{{input_login}}}
      {{{input_password}}}
    </div>
    <div class="{{styles.buttons}}">
      {{{button}}}
      <a class="{{styles.link}}" href="signUp.hbs">Нет аккаунта?</a>
    </div>
  </form>
</main>
