<div class="{{styles.wrapper}}">
  {{{nav}}}
  <aside class="{{styles.sidebar}}"><a class="{{styles.back_link}}" href="#"><img src="{{icon}}" alt="Назад"></a>
  </aside>
  <main class="{{styles.profile}}">
    <form class="{{styles.form}}">
      <header class="{{styles.header}}">
        <div class="{{styles.pic-container}}">
          <img src="{{avatar}}" alt="photo" class="{{styles.pic}}">
          <div class="{{styles.overlay}}"><span>Поменять аватар</span></div>
        </div>
        <h2 class="{{styles.name}}">Иван</h2>
      </header>
      <section class="{{styles.bio}}">
        {{{old_password}}}
        {{{password}}}
        {{{confirm_password}}}
      </section>
      <footer class="{{styles.footer--center}}">
        {{{button}}}
      </footer>
    </form>
  </main>
</div>
