<main class='login'>
  <form class='{{styles.form}}' id="form">
    <div>
      <header class="{{styles.title}}">
        <h2>Регистрация</h2>
      </header>
      {{{email}}}
      {{{login}}}
      {{{first_name}}}
      {{{second_name}}}
      {{{phone}}}
      {{{password}}}
      {{{confirm_password}}}
    </div>
    <div class="{{styles.buttons}}">
      {{{button}}}
      {{{link}}}
    </div>
  </form>
</main>
