<a class="{{styles.link}} 
  {{#if isWarning}}{{styles.link-warning}}{{/if}} 
  {{#if isLogin}}{{styles.link-login}}{{/if}} 
  {{#if isProfile}}{{styles.link-profile}}{{/if}}" 
  href="{{href}}">{{label}}</a>
